<h1>Todos los Planetas</h1>
<table>
    <thead>
       <tr>
         <% @respuesta1.each do |p| %>
           	<td> </td>
           	<td><%= link_to p["node"]["name"], planeta_path(:content=> p["node"]["id"])%></td>
              </tr>
          <% end %>
    </thead>
  </table>
